@{
    ViewBag.Title = "Upload Countries from Excel";
}
<h1>Upload Countries from Excel</h1>
<div class="w-50">
    <form action="~/Countries/UploadFromExcel" method="post" enctype="multipart/form-data">
        @*Excel File*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt">Choose an xlsx file</label>
            </div>
            <div class="flex-1">
                <input type="file" name="excelFile" class="form-input" accept=".xlsx" />
                <div class="text-red">@ViewBag.ErrorMessage</div>
                <div class="text-green">@ViewBag.SuccessMessage</div>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button type="submit" class="button button-blue-back">Upload</button>
            </div>
        </div>
    </form>
</div>
