@model RegisterDTO
@{
    ViewBag.Title = "Register";
    ViewBag.ActivePage = "~/Account/Register";
}

<div class="text-grey">
    <span>Contacts</span>
    <i class="fa-solid fa-caret-right"></i>
    <span>Register</span>
</div>

<div class="form-container">
    Already Registered? <a asp-action="Login" asp-controller="Account" class="link-hover">Login</a>
    <h2 class="text-large">Register</h2>

    <form href="~/Account/Register" method="post">

        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Name</label>
            </div>
            <div class="flex-1">
                <input type="text" id="PersonName" name="PersonName" class="form-input" />
            </div>
        </div>

        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input type="email" id="Email" name="Email" class="form-input" required />
            </div>
        </div>

        @*Password*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Password" class="form-label pt">Password</label>
            </div>
            <div class="flex-1">
                <input type="password" id="Password" name="Password" class="form-input" required />
            </div>
        </div>

        @*ConfirmPassword*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="ConfirmPassword" class="form-label pt">Confirm Password</label>
            </div>
            <div class="flex-1">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-input" required />
            </div>
        </div>

        @*Phone*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PhoneNumber" class="form-label pt">Phone</label>
            </div>
            <div class="flex-1">
                <input type="number" id="PhoneNumber" name="PhoneNumber" class="form-input" required />
            </div>
        </div>

        @*UserRole*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Role" class="form-label pt">User Role</label>
            </div>
            <div class="flex-1">
                <input type="radio" id="UserRole" name="Role" value="User" checked />
                <label for="UserRole">User</label>

                <input type="radio" id="AdminRole" name="Role" value="Admin" />
                <label for="AdminRole">Admin</label>
            </div>
        </div>

        @*Register button*@
        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button class="button button-green-back" type="submit">Register</button>

                <div asp-validation-summary="All" class="text-red"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}